<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620433459529-e1kqhd9enk73lh8dq6b6kh4dvs3avf5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620433459529-e1kqhd9enk73lh8dq6b6kh4dvs3avf5v</string>
	<key>API_KEY</key>
	<string>AIzaSyCuqOe-UZJGDt-5S--wlSFAKJodqdQV5Jg</string>
	<key>GCM_SENDER_ID</key>
	<string>620433459529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rhythm.rhythm</string>
	<key>PROJECT_ID</key>
	<string>rhythm-92166</string>
	<key>STORAGE_BUCKET</key>
	<string>rhythm-92166.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620433459529:ios:3ddbd2a0f3c2068482b298</string>
</dict>
</plist>